.banner-bg {
  background-color: #cf2547;
}

.service-bg {
  background-color: #f2f0f1;
}

.global-color {
  color: white;
}

.footer-bg {
  background-color: #232222;
}

.primary-custom-btn {
  background-color: #cf2547;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.primary-custom-btn:hover {
  background-color: #f9002e;
  transition: 600ms;
}

.custom-icon {
  background-color: #cf2547;
  color: white;
  padding: 6px;
  border-radius: 50%;
}

.custom-icon-size {
  font-size: 30px;
}

.custom-footer-icon {
  font-size: 25px;
  padding: 6px;
}

.custom-footer-icon:hover {
  background-color: #cf2547;
  padding: 6px;
  border-radius: 50%;
  transition: 1000ms;
}
